.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.chatList {
  width: 100%;
  flex: 10;
}
.chatInput {
  background: #eee;
  width: 100%;
  flex: 1;
}
