.container {
  width: 30vw;
  max-width: 400px;
  min-width: 300px;
  height: 50vh;
  max-height: 700px;
  min-height: 550px;
  background-color: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 5vh auto 0 auto;
  overflow: scroll;
}