.iconAward {
  display: inline-block;
  background-position: center;
  background-size: 100%;
  width: 100px;
  height: 100px;
}
.small {
  width: 50px;
  height: 50px;
}
.large {
  width: 150px;
  height: 150px;
}
.boring {
  background-image: url('./assets/boring.svg');
}
.modelsKids {
  background-image: url('./assets/modelskids.svg');
}
.powerwall {
  background-image: url('./assets/powerwall.svg');
}
.roadster {
  background-image: url('./assets/roadster.svg');
}
.solarRoof {
  background-image: url('./assets/solarroof.svg');
}
.spaceX {
  background-image: url('./assets/spaceX.svg');
}
.teslaCredit {
  background-image: url('./assets/teslaCredit.svg');
}
.testDrive {
  background-image: url('./assets/testDrive.svg');
}
.unveil {
  background-image: url('./assets/unveil.svg');
}
.wallConnector {
  background-image: url('./assets/wallConnector.svg');
}
.wheelArchnid {
  background-image: url('./assets/wheelArachnid.svg');
}
.wheelTurbine {
  background-image: url('./assets/wheelTurbine.svg');
}


