$animationTime : 500;
$animationTimeMs : $animationTime + 0ms;
$animationType : ease-out;

// This variable is imported javascript
:export {
  animationTimeMs: $animationTimeMs
}

.slide-in-from-left-appear,
.slide-in-from-left-enter {
  position: absolute;
  left: 100vw;
  z-index: 1000;
}
.slide-in-from-left-appear-active,
.slide-in-from-left-enter-active {
  left: 0px;
  transition: left $animationTimeMs $animationType;
}
.slide-in-from-left-exit {
  transition: left $animationTimeMs $animationType;
}
.slide-in-from-left-exit-active {
  left: 0px;
  //transition: left 30s linear;
}
