.container {
  border-bottom: 1px solid #eee;
  width: 100%;
}
.inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px;
}
.avatar {
  margin-right: 10px;
}
.details {
  p {
    margin: 0;
  }
}
.container:last-child {
  border-bottom: none;
}