.container {
  border-bottom: 1px solid #eee;
  width: 100%;
  position:relative;
  button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
  }
}
.inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 10px;
}
.avatar {
  margin-right: 10px;
}
.details {
  p {
    margin: 0;
  }
}
.container:last-child {
  border-bottom: none;
}