.button {
  padding: 15px 30px;
  font-size: $fontSizeDefault;
  color: $fontColorLite;
  text-transform: uppercase;
  background: #333;
}
.buttonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:focus {
  outline: none;
}
.small {
  font-size: $fontSizeSmall;
  padding: 10px 20px;
  font-size: small;
}
.large {
  font-size: $fontSizeLarge;
  padding: 18px 36px;
  font-size: large;
}
.icon {
  backgroundColor: red;
  width: 25px;
  heigh: 25px
}
.contacts {
  backgroundColor: green;
}
.share {
  backgroundColor: blue;
}