@import './../../node_modules/normalize.css';

:global body {
  * {
    font-family: $fontDefault;
    font-size: $fontSizeDefault;
    color: $defaultFontColor;
  }
}

input {
  border: 5px solid red;
}