.container {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 150px;
  min-height: 230px;
  background: #eee;
}
.image {
  margin: 0;
  line-height: 0;
}
.desc {
  padding: 15px;
  p {
    margin: 0;
  }
}