p {
  font-family: sans-serif;
  font-size: 15px;
  color: $defaultFontColor;
}
.extraSmall {
  font-size: 10px;
}
.small{
  font-size: 12px;
}
.large {
  font-size: 18px;
}
.light {
  color: $fontColorLite;
}
.dark {
  color: $fontColorDark;
}