.container {
  padding: 10px 40px;
  background-color: #ddd;
  color: #333;
  text-align: center;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
}
.container:focus {
  outline: none;
}