@import './../../styles/shared.scss';

.container {
  h2 {
    margin-bottom: 40px;
  }
}
.content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.paneLeft {
  flex: 1;
  margin-right: 80px;
}
.paneRight {
  flex: 2;
}
.paneBottom{
}

/** Style overrides for When app in ran in Drupal  */
.cmsDrupal {
  a {
    color: $momoRed;
  }
  h2 {
    color: $grey2;
    font-size: 20px;
    font-weight: normal;
  }
}