.container {

}
.label {
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  padding-bottom: 5px;
  display: block;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  color: gray;
}
input {
  display: block;
  outline: 0;
  border: 1px solid #ccc;
  transition: background-color 200ms linear;
  padding: 10px;
  width: calc(100% - 20px);
  margin: 0;
  font-size: 16px;
  background-color: #f7f7f7;
}
.inputError {
  border-color: #c00;
}
.error {
  min-height: 15px;
  text-align: right;
  font-size: x-small;
  color: #c00;
}