.container {
  //height: 400px;
}
.autoScrollContainer {
  overflow: scroll;
}
.content {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.side {
  width: 70%;
}
.user {
  justify-content: flex-end;
}
.friend {
  justify-content: flex-start;
}